.Rbuildignore
.Rproj.user
.Rhistory
.Rbuildignore
# History files
.Rhistory*
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rproj.user/*

# RData
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#*.Rproj
.Rproj.user
dsopts.Rcheck/
dsopts*.tar.gz
dsopts*.tgz
docs

tmp/
tmp/*

tests/testthat/tmp
tests/testthat/tmp/*

.DS_Store
.Renviron

R/temp.R
temp.R
